<!DOCTYPE html>
<html>
    <head>
        <title>Rhody Travel Website</title>
    </head>
    <body>
        {{{body}}}
        <img src="pothole.png" alt="Pothole Image" style="width: 500px; height: auto;">
    </body>
</html>
